#logo{
    width: 2rem;
}

body{
    height: 100vh;
    background: rgb(202,0,255);
background: linear-gradient(175deg, rgba(202,0,255,1) 0%, rgba(12,0,36,1) 100%);
}

.card{
    background-color: transparent;
    border: none;
    text-align: center;
}